<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.farsitel.bazaar" />
        <intent>
            <action android:name="android.intent.action.EDIT" />
            <data android:scheme="bazaar" />
        </intent>
    </queries>

</manifest>